body {
  margin: 0;
  padding: 0;
}

.page {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  max-width: 1600px;
}

.header {
  background-color: beige;
}

.header__title {
  color: rgb(131, 71, 191);
}
